---
layout: default
title: Contact Us
description: Suur ons direct een mail met jouw vraag..
permalink: /contact
---

{% include page-title.html %}
<!-- ==================== PAGE TITLE END ========================= -->
<div class="small-feature-block-area sec-spacer pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="small-feature-block text-left">
          <h3 class="title">Office Address</h3>
          <h4 class="label">Visit our office tody</h4>
          <p class="text">Krabbescheer 80, 2408 <br>LG Alphen aan den Rijn</p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="small-feature-block text-left">
          <h3 class="title">Mailing Details</h3>
          <h4 class="label">Call us or send email</h4>
          <p class="text">T: 085-3032960<br>E:  office@ainoacloud.com <br></p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="small-feature-block text-left">
          <h3 class="title">Business Hours</h3>
          <h4 class="label">Check our locaiton</h4>
          <p class="text"><span class="text-danger">Friday - Holidy</span> <br> Sat - Thu : 8am to 5pm <br> Sunday :
            10am to 5pm </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== BIM PROJECT START ========================= -->
<div class="service-copy-are bg-3 bg-spacer">
  <div class="container">
    <div class="service-copy-wrapper">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div class="small-feature-block mb-5">
            <h3 class="title">Send us message<br></h3>
          
          </div>
          {% include contact-form.html %}
        </div>
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2449.7576455460116!2d4.6393083157926185!3d52.12053827974054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5da955aa11a5f%3A0xa67f098c8021c849!2sKrabbescheer%2080%2C%202408%20LG%20Alphen%20aan%20den%20Rijn%2C%20Netherlands!5e0!3m2!1sen!2sbd!4v1600496767777!5m2!1sen!2sbd" width="600" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== BIM PROJECT END ========================= -->
 
{% include call-to-action.html %}