--- 
layout: default
title: Trainers en Team
description: Het best bewaarde geheim in de ICT!
bg_image: /assets/images/blog-hero.jpg
--- 
<!-- ==================== PAGE TITLE START ========================= -->
{% include page-title.html %}
Eigenlijk is AinoA het best bewaarde geheim in de ICT. Azure trainingen zijn leuk én met heel veel interactie. Wij zijn dé specialisten als het gaat om Microsoft Azure. Dat zeggen veel cursisten die trainingen van ons hebben gevolgd. Neem gerust een kijkje op onze pagina met referenties. (link naar referenties)
<!-- ==================== PAGE TITLE END ========================= -->
<div class="blog-author-box-area inner-spacer ">
  <div class="container">
  
	{% assign myteam = site.teams %}
	{% assign sorted_team = myteam | sort:"order" %}
  
	{% for team in sorted_team %}
		{% include team-card.html %}
	  {% endfor %}
     
  </div>
</div>
