<!-- ==================== CALL US START ========================= -->
<div class="call-us-area bg-2 sec-spacer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="call-us-content text-center px-5">
          <h2 class="title w-75 mx-auto">Combineer trainingen voor 10% korting. Kies uit de volgende bundels</h2>
          <p class="text  mx-auto"> (01) Azure Fundamentals AZ-900 + Azure Infra AZ-103 (02) Azure Fundamentals AZ-900 + Architecture Bootcamp AZ-300 + AZ-301 (03) Twee collega’s volgen dezelfde training? = 10% korting.
		  
		  </p>
          <div class="action-btn mt-4"><a href="/contact" class="btn-primary btn btn-hero">JA ik ben geïnteresseerd </a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== CALL US END ========================= -->