<form action="https://formspree.io/themeix@gmail.com" method="POST"  class="signin-form">
  <div class="form-group">
    <label class="label">Naam</label>
    <input class="controls-form" name="name" placeholder="naam" type="text">
  </div>
  <div class="form-group">
    <label class="label">Email</label>
    <div class="input-form">
      <input class="controls-form" name="email" placeholder="emailadres" type="email">
    </div>
  </div>
  <div class="form-group">
    <label class="label">Telefoonnummer</label>
    <div class="input-form">
      <input class="controls-form" name="phone" placeholder="telefoonnummer" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="label">Omvang van organisatie</label>
    <div class="input-form">
      <select name="company-name" class="form-control">
        <option value="Make a Selection">Keuze</option>
        <option value="-20">-20</option>
        <option value="--300">--300</option>
        <option value="--1004">--1004</option>
        <option value="-105">-105</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="label">Bericht</label>
    <div class="input-form">
      <textarea class="controls-form" name="message" placeholder="Hoe kunnen wij helpen?" rows="6"></textarea>
    </div>
  </div>
  <button type="submit" class="signin-submit active">Verstuur</button>
</form>
