<!-- ==================== FOOTER START ========================= -->
<footer class="footer-area border-top">
  <div class="container">
     <div class="row">
        <div class="col-sm-5">
           <div class="footer-intro">
              <a href="{{'/' | relative_url}}"><img class="footer-logo" src="{{'/assets/images/logo.png' | relative_url }}"  alt="{{@site.title}}" /></a>
              <p class="text">Krabbescheer 80<br>2408 LG<br>Alphen aan den Rijn<br>+085-3032960<br>
              </p>
              <p><a class="text-decoration-none " href="mailto:office at ainoacloud.com">office at ainoacloud.com</a></p>
           </div>
        </div>
        <div class="col-sm-7">
           <div class="row">
              
              <div class="col-sm-6 col-md-3 offset-md-5">
                 <div class="footer-widget">
                    <h3 class="heading">Pages</h3>
                    <a href="{{'/team' | relative_url}}" class="link">Team</a>
                    <a href="{{'/blog' | relative_url}}" class="link">Blog</a>
                    <a href="{{'/contact' | relative_url}}" class="link">Contact</a>
                 </div>
              </div>
              <div class="col-sm-6 col-md-4">
                 <div class="footer-widget">
                    <h3 class="heading">Links</h3>
                    <a href="{{'/sample-page' | relative_url}}" class="link">Privacy Policy</a>
                    <a href="{{'/sample-page' | relative_url}}" class="link">Algemene voorwaarden</a>
                 </div>
              </div>
      
           </div>
        </div>
     </div>
     <div class="footer-bottom">
        <p class="copyright">© 2020 <a href="{{'/' | relative_url}}">AinoA Cloud Solutions</a></p>
        <div class="social-icons-small">
         <a href="https://www.linkedin.com/company/ainoacloud/" target="_blank" class="social-link"><img src=" {{'/assets/images/social-in.png' | relative_url}}" alt="logo" class="social-icon"></a>       
       </div>
     </div>
  </div>
</footer>
