<div class="sidebar">
  <article class="sidebar-widget">
    <header class="header">
      <h4 class="title">Featured Posts</h4>
    </header>
    <div class="wrapper">
      {% for post in site.posts %}
      {% if post.featured == true %}
      <div class="feature-item">
        <div class="image">
          <img class="img-fluid" src="{{post.post_image  | relative_url}}" alt="{{post.title}}" />
        </div>
        <div class="content">
          <h4 class="title"><a href="{{post.url | relative_url}}">{{post.title}}</a></h4>
  
          
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </article>


  <article class="sidebar-widget">
    <header class="header">
      <h4 class="title">Follow Us</h4>
    </header>
    <div class="wrapper">
      <div class="social-item">
        <a href="{{@site.linkedin_url}}" target="_blank" class="social-link"><img src="{{'/assets/images/social-in.png' | relative_url }}" alt="logo"
            class="social-icon"></a>

      </div>
    </div>
  </article>
  <article class="sidebar-widget">
    <header class="header">
      <h4 class="title">Subscribe</h4>
    </header>
    <div class="wrapper">
      {% include subscribe-form.html %}
    </div>
  </article>
</div>