 <!-- ==================== BIM PROJECT START ========================= -->
 <div class="service-copy-area bg-white bg-spacer">
   <div class="container">
 
     <div class="service-copy-wrapper">
       <div class="row d-flex align-items-start">
   <div class="col-md-6">
		    <h3 class="title">locaties</h2>
          <p>Jij kiest waar je jouw training volgt. Natuurlijk behoort het tot de mogelijkheden jouw training op momenten dat jij dat wenst online te volgen. (« klopt dit? — hoe zit dan dan als het een groep is en heeft het dan zin om specifieke data te noemen van trainingen?) Veel van onze cursisten geven daar de voorkeur aan; jij bepaalt zelf het studietempo en bespaart reiskosten.</p>

<p>Het is altijd mogelijk je training te volgen op een van onze locaties* in het land, er is vast een locatie bij in jouw buurt. En komt het dan een keer niet uit, geen probleem: dan kun je de training altijd via tele-conferencing bijwonen.</p>

<p class="text">*Momenteel zijn onze diverse locaties in het land gesloten, daarmee volgt AINOA de richtlijnen van het RIVM.</p>
<p>Tijdens deze intelligente lockdown volg je jouw training natuurlijk @home online.</p>
<p>De AINOA trainingen vinden plaats op de volgende locaties in het land:</p>

<ul>
  <li>Amsterdam (incl. Hoofddorp/Amstelveen)</li>
  <li>Arnhem</li>
  <li>Den Bosch</li>
  <li>Utrecht</li>
  <li>Zoetermeer</li>
</ul>
         </div>
         <div class="col-md-6">
		    <h3 class="title">Incompany</h2>
          <p>Reiskosten besparen, met meerdere collega’s tegelijk de training volgen: voor je organisatie kan dit zelfs een pré zijn omdat je er bent wanneer men je nodig heeft. We komen graag naar je toe of we organiseren de training online voor jou en je collega’s.(?)</p>

<p>Alle trainingen van AINOA zijn mogelijk op een locatie naar jouw keuze. Ook hier geldt dat de lesstof op maat kan worden samengesteld. Al naar gelang de behoefte. Bel ons gerust voor meer informatie, we denken graag met je mee.</p>

<p>Voor incompany/onsite maatwerk training, hanteren we onderstaande tarieven. Alle prijzen zijn per dag, excl. BTW</p>
<ul>
  <li>Individueel 	-	€ 1.075,-</li>
  <li>2-3 personen 	-	€ 1.375,-</li>
  <li>4-5 personen 	- 	€ 1.675,-</li>
</ul>
<p>Training voor 6 of meer personen? Neem dan contact met ons op (link naar contactpagina)</p>
         </div>
		  <div class="col-md-12 pt-5">
		    <h3 class="title">Examens</h2>
		<p>  Jij bent degene die bepaalt hoe en wanneer je examen doet, op een moment dat het jou uitkomt. We adviseren je wel om je examen binnen een week na het afsluiten van de training in te plannen.</p>

<p>

Je regelt het halen van een officieel Microsoft Certificaat zelf door je bij het exameninstituut aan te melden. Je kunt je examen thuis doen, of op kantoor. Klik hier voor de examenlink– hier kun je ook examen op locatie doen; deze site wordt up-to-date gehouden met betrekking tot regels en maatregelen van het RIVM.</p>

<p>

Waarom is het belangrijk om een training met een examen af te sluiten? In eerste instantie is het voor jou goed om te toetsen of al het geleerde op de juiste manier is begrepen.</p>

<p>

Ook is het belangrijk is dat sommige bedrijven een bepaald percentage gecertificeerde ICT’ers in dienst dienen te hebben. Hiermee kan het management zien of een medewerker de nodige aantoonbare kennis heeft. En daarmee kan het bedrijf weer een bepaald kwaliteitsniveau halen.</p>
         </div>
		 
       </div>
     </div>
   </div>
 </div>

 