---
layout: default
---
<!-- ==================== BLOG START ========================= -->
<div class="blog-area">
  <div class="blog-header" style="background-image: url({{page.bg_image | relative_url}});">
    <div class="container">
      <div class="blog-header-content">
        <h1 class="title">{{page.title }}</h1>
        <p class="text">{{page.description}}</p>
      </div>
    </div>
  </div>

  <div class="blog-post bg-spacer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="posts">
            <div class="row infinite-scroll">
              {% for post in site.posts %}
              <div class="col-sm-6 col-md-12 col-lg-6 mb-30 post-item">
                {% include post-card.html %}
              </div>
              {% endfor %}

            </div>
            <nav class="post-pagination text-center">
              {% include pagination.html %}
            </nav>
          </div>
        </div>
        <div class="col-md-4">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== BLOG END ========================= -->