<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <meta property="og:site_name" content="{{ site.SEOTitle }}"> 
  <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
	
 
<link rel="icon" href="{{'/assets/images/favicon.png' | relative_url}}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <!-- gulp:css -->
  <link rel="stylesheet" href="{{'/assets/css/app.min.css' | relative_url}}">
  <!-- endgulp -->
</head>

<body>
  <!-- ==================== HEADER START ========================= -->
  <div class="preloader">
    <div class="wrapper">
      <div class="loader">Loading...</div>
    </div>
  </div>


  {% include header.html %}

  {{content}}
  {% include footer.html %}

  <div class="top-scollbar">
    <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path>
    </svg>
  </div>
  <!-- ==================== FOOTER END ========================= -->

  <!-- gulp:js -->
  <script src="{{'/assets/js/build.min.js' | relative_url}}"></script>
  <!-- endgulp -->
  {% if page.url == "/gallery" %}
  <script>
    gridGallery({
      selector: ".dark",
      darkMode: true
    });
    gridGallery({
      selector: "#horizontal",
      layout: "horizontal"
    });
    gridGallery({
      selector: "#square",
      layout: "square"
    });
    gridGallery({
      selector: "#gap",
      gaplength: 10
    });
    gridGallery({
      selector: "#heightWidth",
      rowHeight: 180,
      columnWidth: 280
    });
  </script>
  {% endif %}
</body>

</html>